%gradient_1 {
    background: -webkit-gradient(linear, left top, right top, from(#7C32FF), color-stop(70%, #A235EC), to(#C738D8));
    background: -o-linear-gradient(left, #7C32FF 0%, #A235EC 70%, #C738D8 100%);
    background: linear-gradient(90deg, #7C32FF 0%, #A235EC 70%, #C738D8 100%);
    }
%gradient_3{
    background-image: linear-gradient(to bottom right, #863ee2, #571f9e);
}